<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>여러개 마커 제어하기</title>
</head>
<style>
    #map{
        width: 650px;
        height: 650px;
        position: relative;
        overflow: hidden;
        background: url(http://i1.daumcdn.net/dmaps/apis/loading_n.png);
        position: absolute;
        right: calc(50% - 325px);
    }

</style>

<body>
<div id="map"></div>
<p>
</p>
<div id="target">
    <div th:each="target:${result}" th:id="${target.getLatitude()}" th:class="${target.getLongitude()}"></div>
</div>
    </body>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5de0c06b8bfab6e41dcba471bf395f8c"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(36.5528303, 127.9268773), // 지도의 중심좌표
            level: 15 // 지도의 확대 레벨
        };

    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
    // daum.maps.event.addListener(map, 'click', function(mouseEvent) {
    //     // 클릭한 위치에 마커를 표시합니다
    //     addMarker(mouseEvent.latLng);
    // });

    // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
    var markers = [];

    $("#target>div").each(function(){
        var latitude = $(this).attr("id");
        var longitude = $(this).attr("class");
        addMarker(new daum.maps.LatLng(latitude, longitude));
    });


    function addMarker(position) {

        var marker = new daum.maps.Marker({
            position: position
        });

        marker.setMap(map);

        markers.push(marker);
    }

    // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
    function setMarkers(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }
</script>
</html>
