<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Hello thymeleaf</title>
</head>
<body>
<div class="missionArea">

    <p class="question" id="question"></p>

<!--    <p class="question" th:text="|정답: ${mission.answer}|"></p>-->
<!--    <p class="question" th:text="|오답: ${mission.wrongAnswer}|"></p>-->

    <div id="list"></div>
    <p id="result"></p>

    <form action="/missionSubmit" id="f1" method="post">
        <input th:type="hidden" id="missionId" name="missionId" th:value="${mission.missionId}">
        <input th:type="hidden" id="answer" name="answer">
        <input th:type="hidden" id="hunterAnswer" name="hunterAnswer">
    </form>
</div>
<script src="js/vendor/modernizr-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>

<script type="text/javascript">

    var a = "[[${mission.answer}]]";
    var b = "[[${mission.wrongAnswer}]]";

    console.log(b);

    b = b.replace("[", "").replace("]", "");
    b = b.split(',');
    b.push(a);
    b = b.sort(function () {
        return Math.random() - Math.random();
    });

    htmlEscape();
    console.log("htmlEscape::"+htmlEscape(q));

    var resultHtml = "";
    for (var i = 0; i < b.length; i++) {
        resultHtml += "<button value='" + b[i] + "' onClick='choiceAnswer(" + i + ")'>" + b[i] + "</button>";
    }
    console.log(resultHtml);
    $('#list').append(resultHtml);

    function choiceAnswer(answerIndex) {

        $('#answer').val(a);
        $('#hunterAnswer').val(b[answerIndex]);
        $('#f1').submit();
    }

    function htmlEscape() {
        var q = "[[${mission.question}]]";

        q = unescape(q);
        $("#question").html(q);
    }


</script>
</body>
</html>
